.container{
    font-family: "Fira Code";
    width: 80%;
    margin: auto;
}

.title{
    text-align: center;
    font-size: 32px;
    margin: 10px 0px;
}

.form{
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.username,.email,.password{
    background-color: rgb(46, 46, 46);
    color: whitesmoke;
    font-family: "Fira Code";
    outline:none;
    border: none;
    padding: 10px;
    padding-left: 20px;
    border-radius: 999999px;
}

.submit{
    width: 100px;
    outline: none;
    border: none;
    border-radius: 99999px;
    padding: 8px 12px;
    font-family: "Fira Code";
    cursor: pointer;
    background: linear-gradient(to right,cornflowerblue,royalblue);
}

.helpertext{
    display: flex;
    font-size: 14px;
}

@media screen and (max-width:400px) {
    .helpertext{
        flex-direction: column;
    }
}

.already{
    margin-right: 20px;
}

.removeUnderline{
    text-decoration: none;
    color: cornflowerblue;
}

.msg{
    text-align: center;
    font-family: "Fira Code";
    font-size: 14px;
    color: cornflowerblue;
}