.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1d1c1c;
    position: sticky;
    top: 0px;
    width: 90%;
    margin: auto;
}
.title{
    font-size: 30px;
    font-family: "Fira Code";
    flex: 1;
}

.removeUnderline{
    text-decoration: none;
    color: rgb(218, 218, 218);
}

.links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links > div{
    margin-right: 10px;
}

.profile{
    cursor: pointer;
}

.profiledropdown{
    position: absolute;
    top: 50px;
    right: 5%;
    font-family: "Fira Code";
    background-color: rgb(66, 66, 66);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.addproduct,.logout{
    background: linear-gradient(to right, rgb(182, 131, 73),rgb(68, 102, 165));
    text-align: center;
    border-radius: 99999px;
    cursor: pointer;
    margin: 5px 0px;
    padding: 3px 10px;
    font-size: 14px;
}


.cart{
    position: relative;
}

.noofproducts{
    position: absolute;
    top: -12px;
    right: -12px;
    font-family: "Fira Code";
    font-size: 14px;
    border-radius: 50%;
    color: cornflowerblue;
}