.cartProduct{
    background-color: #202020;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    height: 200px;
}

.imagec{

}

.details{
    flex: 1;
}

.image{
    height: 100%;
    width: 200px;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
}

.details{
    padding: 10px;
}

.title{
    font-size: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.title,.price{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Fira Code";
    text-align: center;
    margin: 10px 0px;
}

.price{
    font-size: 20px;
}

.addandremove{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fira Code";
}

.add,.noofProducts,.remove{
    border: 1px solid rgb(177, 177, 177);
    padding: 5px 8px;
}

.add,.remove{
    cursor: pointer;
}

.totalprice{
    text-align: center;
    padding: 10px 0px;
    font-family: "Fira Code";
    font-size: 20px;
    color: cornflowerblue;
    word-wrap: break-word;
}